<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>layui</title>
  <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.4/css/layui.css" />
  <script src="https://www.layuicdn.com/layui-v2.5.4/layui.all.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <link rel='stylesheet' type='text/css' href="../css/style.css" />
</head>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
    <div class="layui-fluid">
        <div class="layui-container">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-xs12">
                    <h1>SV变异统计</h1>
                    <p>
                        染色体结构变异（SV）是染色体变异的一种，类型包括：缺失（Deletion, DEL）、插入（Insertion, INS）、倒位（Inversion, INV）、易位（Translocation, BND）和重复（Duplication, DUP）。
                    </p>
                </div>
                <div class="layui-col-xs12">
                    <h3>分析软件</h3>
                    <p>分析软件：Delly</p>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="magicalcoder-tab-title layui-this">SV数据统计</li><li class="magicalcoder-tab-title">SV长度分布</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div id="SV数据统计" class="layui-tab-item layui-show">
                                <table class="layui-table" lay-filter="demo">
                                    <thead>
                                        <tr>
                                        <th lay-data={align:"center",width:150,sort:true,field:"sample"}>sample</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"snp_number"}>deletion</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"ti"}>duplication</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"tv"}>insertion</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"ti/tv"}>invertion</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"het"}>BND</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for variant in variant_stat %}
                                        <tr>
                                        <td>{{ variant.sample }}</td>
                                        <td>{{ variant.deletion }}</td>
                                        <td>{{ variant.duplication }}</td>
                                        <td>{{ variant.insertion }}</td>
                                        <td>{{ variant.invertion }}</td>
                                        <td>{{ variant.BND }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="SV长度分布" class="layui-tab-item ">
                                <div class="layui-row">
                                    <div class="layui-col-xs12 layui-col-lg4">
                                        <form >
                                            
                                            <select name='' id='sample_selected' >
                                                {% for variant in variant_stat %}
                                                <option value={{map.id}} name='sample_option'} >{{map.sample}}</option>
                                                {% endfor %}
                                            </select> 
                                            <input type="submit" value="Submit" id='sample_used' />
                                            <script>
                                            $("#sample_used").click(function(){
                                                $("#adsense").val($("#sample_selected option:selected").val());
                                            });
                                            </script>
                                            <input  type='hidden' name='adsense' id='adsense' value=''/>
                                        </form>      
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        icon_append();
        table_function();
    </script>
</body>
</html>