{%set sample=sample_list|first%}
{% extends '测序数据质控/qc.html'%}
{%block background%}
                    <h1>SV变异统计</h1>
                    <p>
                        染色体结构变异（SV）是染色体变异的一种，类型包括：缺失（Deletion, DEL）、插入（Insertion, INS）、倒位（Inversion, INV）、易位（Translocation, BND）和重复（Duplication, DUP）。
                    </p>
{%endblock%}
                </div>
{%block parameter%}
                    <h3>分析软件</h3>
                    <p>分析软件：Delly</p>
{%endblock%}
{%block tab%}
                        <ul class="layui-tab-title">
                            <li class="magicalcoder-tab-title layui-this">SV数据统计</li><li class="magicalcoder-tab-title">SV长度分布</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div id="SV数据统计" class="layui-tab-item layui-show">
                                <table class="layui-table" lay-filter="demo">
                                    <thead>
                                        <tr>
                                            <th lay-data={align:"center",width:150,sort:true,field:"sample"}>sample</th>
                                            {%for col in dict_sub[sample]%}
                                            <th lay-data={align:"center",width:150,sort:true,field:"{{col[0]}}"}>{{col[0]}}</th>
                                            {%endfor%}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key in dict_sub %}
                                        <tr>
                                        <td>{{ key }}</td>
                                        {%for col in dict_sub[key]%}
                                        <td>{{col[1]}}</td>
                                        {%endfor%}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="SV长度分布" class="layui-tab-item ">
                                <div class="layui-row layui-col-space20">
                                    <div class="layui-col-xs12">
                                        <form class="layui-form">                                           
                                            <select id='sample_selected' >
                                                {% for key in dict_sub %}
                                                <option value={{key}} name='key'} >{{key}}</option>
                                                {% endfor %}
                                            </select> 
                                        </form>    
                                    </div>
                                    {% for key in dict_sub %}
                                    <div class="layui-col-xs12">                           
                                        <div id='sv-{{key}}' class='sv-quater'>
                                            <div class="layui-col-xs12" >
                                                <label >{{key}} SV长度分布图：</label>
                                                <img style="width:80%;margin-top: 25px;margin-bottom: 50px;margin-right: auto;margin-left: auto;display: block" src="../../5.SV/{{key}}/sv_length_distribution.png"/>
                                            </div>      
                                        </div>                                   
                                    </div>                                               
                                    {% endfor %}  
                                    <div>
                                        <p>注： 横坐标表示SV类型的SV长度；纵坐标表示SV的数目/百分比。</p>
                                    </div>    
                                </div>
                            </div>                 
                        </div>
{%endblock%}
{%block js%}
    <script>
        icon_append();
        table_function();
        sv_function();
    </script>
{%endblock%}
</body>
</html>