<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>layui</title>
  <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui-v2.5.4/css/layui.css" />
  <script src="https://www.layuicdn.com/layui-v2.5.4/layui.all.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel='stylesheet' type='text/css' href="../../css/style.css" />
  <script src='../../js/lianlin.js'></script>
</head>
<body class="layui-form" style="background-color:#eee;padding: 20px;">
    <div class="layui-fluid">
        <div class="layui-container">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-xs12">
                    <h1>比对信息统计</h1>
                    <p>
                        利用BWA软件将质控后的测序片段（Clean Reads）比对到参考基因组，比对方法为MEM。
                        Reads锚定到参考基因组后，可以统计其对参考基因组的覆盖情况，包括：基因组覆盖度（反映变异检测的完整性），
                        基因组覆盖深度（影响变异检测的准确性），碱基覆盖深度分布（体现测序的随机性），等。
                    </p>
                </div>
                <div class="layui-col-xs12">
                    <h3>分析软件</h3>
                    <p>分析软件：bwa</p>
                </div>
                <div class="layui-col-xs12">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li layui-this">比对结果统计</li><li>插入片段分布</li><li>测序深度分布</li><li>基因组覆盖分布</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div id="比对结果统计" class="layui-tab-item layui-show">
                                <table class="layui-table" lay-filter="demo">
                                    <thead>
                                        <tr>
                                        <th lay-data={align:"center",width:150,sort:true,field:"sample"}>sample</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"mapping_ratio"}>mapping_ratio</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"duplicate_ratio"}>duplicate_ratio</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"mean_insert_size"}>mean_insert_size</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"std_insert_size"}>std_insert_size</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"avg_depth"}>avg_depth</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"coverage_1x"}>coverage_1x</th>
                                        <th lay-data={align:"center",width:150,sort:true,field:"coverage_5x"}>coverage_5x</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key in dict_sub %}
                                        <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ dict_sub[key]['mapping_ratio'] }}</td>
                                        <td>{{ dict_sub[key]['duplicate_ratio'] }}</td>
                                        <td>{{ dict_sub[key]['mean_insert_size'] }}</td>
                                        <td>{{ dict_sub[key]['std_insert_size'] }}</td>
                                        <td>{{ dict_sub[key]['avg_depth'] }}</td>
                                        <td>{{ dict_sub[key]['coverage_1x'] }}</td>
                                        <td>{{ dict_sub[key]['coverage_5x'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="插入片段分布" class="layui-tab-item ">
                                <div class="layui-row">
                                    <div class="layui-col-xs12 layui-col-lg4">
                                        <form >
                                            <select name='' id='sample_selected' >
                                                {% for map in mapping %}
                                                <option value={{map.id}} name='sample_option'} >{{map.sample}}</option>
                                                {% endfor %}
                                            </select> 
                                            <input type="submit" value="Submit" id='sample_used' />
                                            <script>
                                            $("#sample_used").click(function(){
                                                $("#adsense").val($("#sample_selected option:selected").val());
                                            });
                                            </script>
                                            <input  type='hidden' name='adsense' id='adsense' value=''/>
                                        </form>      
                                    </div>
                                </div>
                            </div>                 
                            <div id="测序深度分布" class="layui-tab-item">
                                3
                            </div>
                            <div id="基因组覆盖分布" class="layui-tab-item">
                                4
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    table_function();
    </script>
</body>
</html>